nav {
  width: 80vw;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 2px solid rgba(79, 155, 255, 0.301);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  background: #ffffff;
}

nav .logo {
  width: 16rem;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav .logo img {
  width: 20%;
}

nav .logo h2 {
  color: #015db3ff;
  font-weight: 500;
}

nav .cart {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

nav .cart .cart-icon {
  font-size: 1.5rem;
}

nav .cart span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 5px;
  right: -10px;
  background: #1d59ff;
  color: #ffffff;
  /* z-index: -1; */
}

@media screen and (max-width: 600px) {
  nav {
    width: 100vw;
  }

  nav .logo {
   width: 5rem;
   height: 3rem;
 }

 nav .logo img {
  width: 50%;
 }

 nav .logo h2 {
  /* display: none; */
  font-size: .8rem;
 }

 nav .cart {
  margin-right: 1rem;
 }
}
