 nav {
    width: 80%;
    margin: 0 auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid rgba(79, 155, 255, 0.301);
 }

 nav .logo {
    width: 6rem;
    height: 4rem;
 } 

 nav .logo img {
    width: 100%;
 }

 nav .cart {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
 }
 
 nav .cart .cart-icon {
    font-size: 1.5rem;
 }

 nav .cart span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0;
    right: 0;
    background: #fff01d;
    z-index: -1;
 }